@import "../../settings/_variables.css";

.change__password__layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-color);
}

.change__password__main {
  display: inline-flex;
  flex-direction: column;
  gap: 60px;
  width: 482px;
}
